<%- content_for :page_title, "Edit Location" %>

<%- content_for :sidebar do -%>
  
<% end -%>

<h1>Edit Location</h1>

<%= simple_form_for [:admin, @location] do |f| %>

  <%= f.input :address, :input_html => { :class => "span8" } %>
  <%= f.input :latitude, :input_html => { :class => "span8" } %>
  <%= f.input :longitude, :input_html => { :class => "span8" } %>

  <div class="actions">
    <%= f.button :submit, :class => "primary btn" %>&nbsp;
  </div>

<% end %>