<%- content_for :page_title, "Locations" %>

<%- content_for :sidebar do -%>
  <%= link_to "Create a new location", new_admin_location_path, :class => "btn success" %>
<% end -%>

<h1>Locations</h1>

<%= form_tag admin_locations_path, :method => :get do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search near (2 Miles)", :name => nil %>  
<% end %>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Location Name</th>
      <th></th>
    </tr>
  </thead>
  <%= render @locations %>
</table>