<%- content_for :page_title, "#{@user.name}'s Latest Activity" %>

<div class="content container">
  <div class="title">
    <h1><%= @user.name %>'s Latest Activity</h1>
  </div>

  <% for quest in @user.quests.reverse %>
    <div class="activity">
    <div class="map">
      <%= image_tag("http://maps.google.com/maps/api/staticmap?size=300x200&sensor=false&zoom=15&markers=#{quest.trail_location.location.latitude}%2C#{quest.trail_location.location.longitude}") %>
    </div>
    <div class="info">
      <h3><%= quest.trail_location.location.address %></h3>
      <p>Checked-in here <%= time_ago_in_words(quest.created_at) %> ago</p>

      <div class="reward">
        <%= image_tag("trophy.jpeg") %>
        <p><%= @user.name %> was awarded the kick-ass trophy!</p>
      </div>

    </div>
  </div>

  <% end -%>

</div>