<%- content_for :page_title, "Explore the city by completing quests" %>

<div class="content container">
  <div class="title">
    <h1>Today's Quest</h1>
  </div>

  <div class="images row">
    <div class="span-one-third image">
      <%= image_tag("quests/1.jpeg") %>
    </div>
    <div class="span-one-third image">
      <%= image_tag("quests/2.jpeg") %>
    </div>
    <div class="span-one-third image">
      <%= image_tag("quests/3.jpeg") %>
    </div>
  </div>

  <div class="quest">
    <h3><%= @featured_trail.name %></h3>
    <p><%= @featured_trail.description %></p>
  </div>

</div>