<%- content_for :page_title, @trail.name %>

<div class="profile">
  <%= link_to image_tag(current_user.avatar_url), user_path(current_user) %>
  <p><%= current_user.name %><br />
  <span>Seasoned Travel Extraordinaire</span></p>
</div>

<div class="checkin">
  <p>Currently near</p>
  <h3>Kompleks Sukan Likas</h3>
  <%= link_to "Check In Here", mobile_quest_path(:id => 1), :method => :put, :class => "btn success large" %>
</div>

<ul class="activity media-grid">
  <li>
    <a href="#">
      <%= image_tag("http://maps.google.com/maps/api/staticmap?size=280x200&sensor=false&zoom=15&markers=5.9834%2C116.093") %>
    </a>
  </li>
</ul>

<div class="more">
  <h3><%= @locations.size %> more to complete Quest</h3>
</div>

<%= render :partial => "location", :collection => @locations %>

