<%- content_for :page_title, @trail.name %>

<div class="user_info">
  <%= link_to image_tag(current_user.avatar_url), user_path(current_user) %>
  <p><%= current_user.name %><br />Seasoned Travel Extraordinaire</p>
</div>

<div class="content container">
  <div class="title">
    <h1>Next Checkpoint</h1>
    <%= link_to "Check In", "#", :class => "btn primary" %>
  </div>

  <ul class="activity media-grid">
    <li>
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/300x200" alt="">
      </a>
    </li>
    <li>
      <a href="#">
        <%= image_tag("http://maps.google.com/maps/api/staticmap?size=300x200&sensor=false&zoom=15&markers=5.9834%2C116.093") %>
      </a>
    </li>
  </ul>


  <div class="title">
    <h1><%= @locations.size %> more to complete Quest</h1>
  </div>
  <%= render :partial => "location", :collection => @locations %>

</div>