<%- content_for :page_title, "Explore the city by completing quests" %>

<%- content_for :header do -%>
  <div class="header">
    <div class="container">
    <div class="logo">
      <span class="city">City</span><br />
      <div class="divider"></div>
      <span class="quest">QUEST</span>
    </div>
    <div class="desc">
      <h2>Go on a Quest &amp; Explore the City</h2>
      <p>Discover exciting venues and get rewarded for it!</p>
      <%= link_to image_tag("facebook_connect.png"), user_omniauth_authorize_path(:facebook) unless user_signed_in? %>
      Welcome <%= current_user.name %> <%= image_tag(current_user.avatar_url) if user_signed_in? %>
    </div>
    </div>
  </div>
<% end -%>

<%- content_for :footer do -%>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="span-one-third">
          <h3>How does it work?</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
        <div class="span-one-third">
          <h3>Earn rewards while exploring!</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
        <div class="span-one-third">
          <h3>Hacked together by</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
    </div>
  </div>
<% end -%>

<div class="content container">
  <div class="title">
    <h1>Today's Quest</h1>
  </div>

  <div class="images row">
    <div class="span-one-third image">
      <%= image_tag("quests/1.jpeg") %>
    </div>
    <div class="span-one-third image">
      <%= image_tag("quests/2.jpeg") %>
    </div>
    <div class="span-one-third image">
      <%= image_tag("quests/3.jpeg") %>
    </div>
  </div>

  <div class="quest">
    <h3>Food Frenzy!</h3>
    <p>6 Finger-licking Meals at 6 Awesome Restaurants</p>
  </div>

</div>