<%- content_for :page_title, "Edit Trail" %>

<%- content_for :sidebar do -%>
  
  <p><%= link_to "Delete this trail", admin_trail_path(@trail), :method => :delete, :confirm => "Are you sure?", :class => "btn danger" %></p>

  <h3>Add location to trail</h3>
    <%= simple_form_for [:admin, @trail, @trail_location] do |f| %>
      <%= f.association :location, :collection => Location.to_dropdown, :prompt => "Choose a Location" %>
      <%= f.button :submit, :value => "Add Location", :class => "primary btn", :id => "new-trail-location" %>&nbsp;
    <% end %>  
<% end -%>

<h1>Edit Trail</h1>

<%= simple_form_for [:admin, @trail] do |f| %>

  <%= f.input :name, :input_html => { :class => "span8" } %>

  <div class="offset-form">
    <h3>Trail Locations</h3>
    <% if @trail.locations.blank? -%>
      <p>No locations added to this trail yet.</p>
    <% else %>
    <table class="zebra-striped">
      <%= render @trail.locations %>
    </table>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "primary btn" %>&nbsp;
  </div>

<% end %>