<%- content_for :page_title, "Edit Trail" %>

<%- content_for :sidebar do -%>
  
  <h3>Add location to trail</h3>
  <%= text_field_tag :location_id, "", { :id => "new-trail-location-id", :class => "span2", :placeholder => "Location ID" } %><br /><br />
  <%= submit_tag "Add Location", :class => "primary btn", :id => "new-trail-location" %>

<% end -%>

<h1>Edit Trail</h1>

<%= simple_form_for [:admin, @trail] do |f| %>

  <%= f.input :name, :input_html => { :class => "span8" } %>

  <div class="offset-form">
    <h3>Trail Locations</h3>
    <% if @trail.locations.blank? -%>
    <p>No locations added to this trail yet.</p>
    <% else %>
    <table class="zebra-striped">
      <%= render @trail.locations %>
    </table>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "primary btn" %>&nbsp;
  </div>

<% end %>