<%- content_for :page_title, "Edit Trail" %>

<%- content_for :sidebar do -%>
  
  <p><%= link_to "Delete this trail", admin_trail_path(@trail), :method => :delete, :confirm => "Are you sure?", :class => "btn danger" %></p>

  <h3>Add location to trail</h3>
    <%= simple_form_for [:admin, @trail, @trail_location] do |f| %>
      <%= f.association :location, :collection => Location.to_dropdown, :prompt => "Choose a Location" %>
      <%= f.button :submit, :value => "Add Location", :class => "primary btn", :id => "new-trail-location" %>&nbsp;
    <% end %>  
<% end -%>

<h1>Edit Trail</h1>

<%= simple_form_for [:admin, @trail] do |f| %>

  <%= f.input :name, :input_html => { :class => "span8" } %>
  <%= f.input :description,  :input_html => { :class => "span8", :rows => 5 } %>
  <div class="input">
    <ul class="inputs-list">
      <li>
        <label>
          <input type="checkbox" name="trail[featured]" value="1" id="trail_featured" class="boolean optional" <% if @trail.featured? %>checked="true"<% end %>>
          <span>Feature Trail on Front Page</span>
        </label>
      </li>
    </ul>
  </div>
  <br />

  <div class="offset-form">
    <h3>Trail Locations</h3>
    <% if @trail.locations.blank? -%>
      <p>No locations added to this trail yet.</p>
    <% else %>
    <table class="zebra-striped">
      <%- for trail_location in @trail.trail_locations -%>
        <%= render :partial => "location", :locals => { :location => trail_location.location, :trail => trail_location.trail, :id => trail_location.id } %>
      <% end -%>
    </table>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "primary btn" %>&nbsp;
  </div>

<% end %>