<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <!-- Meta tags -->
  <%= yield :meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="all" href=""/>
  <link href='http://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
    <div class="logo">
      <a href="/" class="city">City</a><br />
      <div class="divider"></div>
      <a href="/" class="quest">QUEST</a>

    </div>
    <div class="desc">
      <h2>Go on a Quest &amp; Explore the City</h2>
      <p>Discover exciting venues and get rewarded for it!</p>
      <%= link_to image_tag("facebook_connect.png"), user_omniauth_authorize_path(:facebook) unless user_signed_in? %>
      <% if user_signed_in? %>
        <div class="user_info">
          <%= link_to image_tag(current_user.avatar_url), user_path(current_user) %>
          <p>Welcome! <br /><%= current_user.name %></p>
        </div>
      <% end -%>
    </div>
    </div>
  </div>
  <%= yield %>
  
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="span-one-third">
          <h3>How does it work?</h3>
          <p>Download CityQUEST mobile app and begin your epic quest! Everyday we have fun and unique quest that will take you all around the city.</p>
        </div>
        <div class="span-one-third">
          <h3>Earn rewards while exploring!</h3>
          <p>As you explore the city, you will be rewarded with special discounts and promotions. All you need to do is show up at the right place and check-in!</p>
        </div>
        <div class="span-one-third">
          <h3>Built with...</h3>
          <p>Ruby on Rails, MySQL. Facebook Connect for signups/logins. Google Maps API for geocoding. Twitter Boostrap CSS.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Hacked together by Flexnode in 24 hours for Hackathon KK in ICT Fiesta, 27 Nov 2011
  </div>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
</body>
</html>