<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <!-- Meta tags -->
  <%= yield :meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="all" href=""/>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :header %>
  <%= yield %>
  <%= yield :footer %>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
</body>
</html>