<!DOCTYPE html>
<html>
<head>
  <title>Cityquest</title>
  <link href='http://fonts.googleapis.com/css?family=Rammetto+One' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= stylesheet_link_tag    "mobile" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= yield :page_title %>
    @ <%= session[:latitude] %>, <%= session[:longitude] %>
  </div>
  <div class="content">
    <%= yield %>
  </div>

</body>
</html>